<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obese</title>
    <link rel="stylesheet" href="result.css">
</head>
<body>
    <div class="container">
        <h1>Your bmi is: <%= BMI  %>.</h1><br>
        <h2> This indicates your weight is in the Obesity category for adults of your 
            height. BMI is a screening measure and is not intended to diagnose 
            disease or illness</h2>
    </div>
</body>
</html>